.app-splash-screen {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 1;
}

.splash-logo {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  font-size: 5em;
}

.splash-logo:before {
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: #fff;
  animation: loading 8s linear;
}

@keyframes loading {
  0% {
     max-width: 0;
  }
}




