<!-- <div class="app-splash-screen" [ngStyle]="{left: windowWidth}" *ngIf="showSplash">
  <div class="splash-screen-logo">
    <img src="../../../assets/images/mc-saldature-bareggio.png" alt="WELDING COMPANY LOGO">
  </div>
</div> -->


<div  *ngIf="showSplash" class="app-splash-screen" [ngStyle]="{'opacity': opacityChange, 'transition': splashTransition}">
  <div class="splash-screen-logo">
      <img @fadeIn class="splash-logo" src="../../../assets/images/28267842_7.png" alt="WELDING COMPANY LOGO">
  </div>
</div>



