.floating-info-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4vh;
  right: 1.9vw;
  width: 7em;
  height: 4em;
  border-radius: 20px;
  transition: 0.4s ease;
  background-color:rgb(0, 0, 0);
}

.floatbar-icon{
  color: white;
  padding: 0 0.4em;
}
.floatbar-icon:hover{
  color: #B32B2B;
}

.hidden-floating-bar{
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}
