<app-hero></app-hero>
<app-counter-bar></app-counter-bar>

<section>
  <div class="home-container">

    <div class="home-content">

      <img data-aos="zoom-in-down"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-once="true"
          src="../../../assets/images/pexels-pixabay-73833.jpg" alt="" class="home-image-box">


      <div class="home-box"
          data-aos="zoom-in-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-once="true">

        <h3>Discover Our Services</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, ducimus similique! Porro alias ipsam quae consequatur voluptas ab animi aliquid, itaque vitae voluptate officiis deserunt sit magni hic beatae provident?
        </p>
        <button mat-raised-button class="cfm-btn" routerLink="/services">Click for more</button>
      </div>



    </div>

  </div>

</section>
