<section>
  <div class="portfolio-container">
    <app-jumbotron title="Portfolio" backgroundImg="../../../assets/images/pexels-pixabay-162534.jpg"></app-jumbotron>

      <div class="image-grid">
        <img src="../../../assets/images/aboutus.jpg" alt="">
        <img src="../../../assets/images/back-babaieva.jpg" alt="">
        <img src="../../../assets/images/chetan-menaria-SBXETTZe768-unsplash.jpg" alt="">
        <img src="../../../assets/images/drill-tech.jpg" alt="">
        <img src="../../../assets/images/drill1.jpg" alt="">
        <img src="../../../assets/images/eduardo-cabrera-FuWOVS-GPsA-unsplash.jpg" alt="">
        <img src="../../../assets/images/flame.jpg" alt="">
        <img src="../../../assets/images/furgone.jpg" alt="">
      </div>


  </div>
</section>
