
.portfolio-container{
  height: 100%;
  /* background: url(../../../assets/images/blackback1.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgb(0, 0, 0));
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}


.image-grid img {
  max-width: 50vw;
  max-height: 50vh;
  padding: 0.5vh;
}

